@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

//Variables
$bodyBgColor: #f3f3f3;
$layoutCollapserBgColor: #253552;
$layoutMenuBgColor: #0d1b2a;
$layoutIconSize: 25px;
$darkLayoutColor: #111111;
$darkLayoutTriggerandselectedMenuBg: #444444;

body {
  background-color: $bodyBgColor !important;
}

body.dark {
  @apply bg-gray-900 text-white;
}

* {
  font-family: "Didact Gothic" !important;
}
//new layout Css
:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-vertical
  > .ant-menu-item {
  line-height: 80px !important;
  height: 80px !important;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-dark
  .ant-menu-item-selected {
  background-color: $layoutCollapserBgColor;
}

.dark
  :where(.css-dev-only-do-not-override-1c0na6j).ant-menu-dark
  .ant-menu-item-selected {
  background-color: $darkLayoutTriggerandselectedMenuBg;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-menu
  .ant-menu-item
  .ant-menu-item-icon {
  font-size: $layoutIconSize;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-layout
  .ant-layout-sider-trigger {
  background-color: $layoutCollapserBgColor;
}

.dark
  :where(.css-dev-only-do-not-override-1c0na6j).ant-layout
  .ant-layout-sider-trigger {
  background-color: $darkLayoutTriggerandselectedMenuBg;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-inline-collapsed
  > .ant-menu-item {
  padding-inline: calc(44% - 8px - 4px) !important;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-breadcrumb
  .ant-breadcrumb-separator {
  @apply dark:text-darkSecondary;
}

.layoutTrigger,
.layoutMenu {
  background-color: $layoutMenuBgColor !important;
}

.dark .layoutMenu {
  background-color: $darkLayoutColor !important;
}

.dark .layoutTrigger {
  background-color: $darkLayoutColor !important;
}

.dark :where(.css-dev-only-do-not-override-1pg9a38).ant-layout-footer {
  @apply dark:bg-darkPrimary;
}

// new drawer css
:where(.css-dev-only-do-not-override-1c0na6j).ant-drawer .ant-drawer-body,
:where(.css-dev-only-do-not-override-1c0na6j).ant-drawer .ant-drawer-header {
  background-color: #011528 !important;
}
:where(.css-dev-only-do-not-override-1c0na6j).ant-layout.ant-layout-has-sider {
  background-color: $darkLayoutColor !important;
}

:where(.css-dev-only-do-not-override-1c0na6j).ant-drawer .ant-drawer-title,
:where(.css-dev-only-do-not-override-1c0na6j).ant-drawer .ant-drawer-close {
  color: #f3f3f3 !important;
}

// Button Css
:where(.css-dev-only-do-not-override-1pg9a38).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled) {
  border: none !important;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  @apply bg-darkSecondary;
  border: none !important;
  transition: background-color ease 1s;
  color: #111111;
}

//Sky Share Css
:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn {
  height: 0% !important;
  border: none !important;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background-color: #6e5c8b !important;
  color: #f3f3f3;
}

//Feedback Css
:where(.css-dev-only-do-not-override-1uq9j6g).ant-input-outlined:focus {
  border-color: #6e5c8b !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-input-outlined:hover {
  border-color: #6e5c8b !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector:hover {
  border-color: #6e5c8b !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector:active {
  border-color: #6e5c8b !important;
  box-shadow: none !important;
}

//Image Css
.image-container {
  perspective: 1000px;
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
}

.image-container:hover .image {
  transform: rotateY(15deg) rotateX(15deg);
}

//Text Css
.dark .textAreaShare::placeholder {
  @apply dark:text-darkSecondary;
}

.dark
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-input-group-wrapper-outlined
  .ant-input-group-addon {
  @apply dark:bg-darkPrimary;
}

//Modal Css
.dark
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-modal
  .ant-modal-content {
  background-color: $darkLayoutTriggerandselectedMenuBg;
}

.dark
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-result
  .ant-result-subtitle {
  @apply dark:text-darkSecondary;
}

//Popover Css
.dark
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-popover
  .ant-popover-inner {
  background-color: $darkLayoutTriggerandselectedMenuBg;
}

//Loader Css
.loader {
  border-width: 10px !important;
}

.dark .loader {
  border-color: white white transparent !important;
}

// Languge ToogleBtn Css
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#toggle-button {
  display: none;
}

.toggle-label {
  width: 50px;
  height: 25px;
  background-color: #263551;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label .ball {
  width: 20px;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px; /* Center the ball on the left side */
  transition: transform 0.3s;
}

#toggle-button:checked + .toggle-label {
  background-color: #8470a3;
}

#toggle-button:checked + .toggle-label .ball {
  transform: translateX(25px); /* Adjust this value to match the track width */
}

.dark .drawerButton {
  background-color: #111111 !important;
  color: #f3f3f3 !important;
  border: none !important;
}

.drawerButton {
  padding: 2px !important;
}

//Media Queries
@media only screen and (max-width: 750px) {
  .typingEffectInput {
    @apply text-3xl;
  }
  .stepsToWork {
    flex-direction: column;
  }
}

@media only screen and (max-width: 460px) {
  .typingEffectInput {
    @apply text-xl;
  }
  .textsBtn,
  .filesBtn {
    flex-direction: column-reverse;
    justify-items: center !important;
    align-items: center !important;
  }
  .contactEmail {
    font-size: 12px !important;
  }
  .filesDiv {
    justify-content: center;
  }
  .filesModalBtn {
    flex-direction: column !important;
  }
  .breadCrumbDiv {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  :where(.css-dev-only-do-not-override-1uq9j6g).ant-layout
    .ant-layout-sider-trigger {
    background-color: $layoutMenuBgColor !important;
  }

  .typingEffectInput {
    @apply text-sm;
  }
}

@media only screen and (max-width: 1300px) {
  .contactCards {
    flex-direction: column;
  }

  .contactEmail {
    @apply text-lg;
  }
}

@media (max-width: 768px) {
  .layoutTrigger {
    display: none;
  }

  .drawerButton {
    display: block;
  }
}

@media (min-width: 769px) {
  .drawerButton {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .breadCrumbRight {
    padding: 0px 0px 20px 0px;
  }
}
